@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #3bb316;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #d30f0f;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li button {
    margin-left: 10px;
    padding: 5px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li button:hover {
    background-color: #c82333;
}



    footer {
        position: fixed;
        margin-top: 400px;
        left: 0;
        width: 100%;
        color: #080808; 
        padding: 20px; 
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 0 10px #ceb0b0, 0 0 20px #ded7e0, 0 0 30px #fff, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff; 
    }
